html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.logo {
    margin-bottom: 25px;
}

.donation-selector {
    margin-bottom: 25px;
}

.donate-button {
    display: block;
    margin: auto;
}

/* Background Colors  */
progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
   background: #000066 !important; /* !important is needed by the polyfill */
}
 
/* Chrome */
progress::-webkit-progress-bar {
    background: #000066;
}
 
/* Foreground Colors   */
/* IE10 */
progress {
    color: Cyan;
}
 
/* Firefox */
progress::-moz-progress-bar { 
    background: Cyan;   
}
 
/* Chrome */
progress::-webkit-progress-value {
    background: Cyan;
}
 
/* Polyfill */
progress[aria-valuenow]:before  {
    background: Cyan;
}
