html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.logo {
    margin-bottom: 25px;
}

.donation-selector {
    margin-bottom: 25px;
}

.donate-button {
    display: block;
    margin: auto;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 300px;
  height: 20px;
}
